body {
    background: #ff9d00;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body.correct {
    background: #00a30d;
}

body.wrong {
    background: #c60606;
}



hr {
    border-top: 3px solid #000;
    width: 100%;
    margin: 5px 0 30px 0;
    border-bottom: none;
}

p {
    color: #000;
    font-size: 25px;
}

.hide {
    display: none;
}

/* header */
.header {
    display: none;
}

#smaller-nav {
    display: none;
}

#head-bg {
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

#head-bg img {
    height: auto;
    width: 10%;
    padding: 15px 30px 0 30px;
    float: left;
}

/* navigation list */
#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-align: right;
    margin-right: 40px;
    line-height: 50px;
}

#menu ul {
    margin-top: 4.5rem;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

#menu a  {
    text-decoration: none;
    color: #fff;
}

/* first section */
#first-section {
    position: relative;
    top: 12rem;
    padding-bottom: 5em;
    margin: 0 2rem;
}

#first-section h1{
    font-weight: 600;
    font-size: 2.5em;
    margin: 0;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-wrapper a {
    width: 28%;
}

/* card styling */
.card {
    background-color: #000;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.left-card {
    margin-right: 10px;
}
  
.card * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}
  
.card:before,
.card:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 32px solid rgba(0, 0, 0, 0.5);
    border-bottom: 32px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}
  
.card img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}
  
.card .quiz-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.1em;
    opacity: 0;
    z-index: 5;
    transition-delay: 0.1s;
}

.quiz-caption h3{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
  
.card:hover:before,
.card:hover:after {
    transform: scale(1);
    opacity: 1;
}
  
.card:hover > img {
    opacity: 0.7;
}
  
.card:hover .quiz-caption {
    opacity: 1;
}

/* about us section */
#about-section {
    position: relative;
    top: 12rem;
    padding-bottom: 5em;
    margin: 0 2rem;
    overflow: hidden;
}

#about-section h2{
    font-weight: 600;
    font-size: 2.5em;
    margin: 0;
}

/* love maths section */

.love-maths-wrapped {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lm-img-wrapper {
    width: 67%;
    margin-right: 10px;
    float: left;
}

#lm-img {
    width: 100%;
    height: auto;
}

.lm-is-wrapped {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lm-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 27%;
    float: right;
    margin-right: 25px;
    
}

.lm-btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.lm-btn:hover {
    box-shadow: 2px 2px 18px #000000;
}

/* other quiz categories section */
#last-section {
    position: relative;
    top: 12rem;
    padding-bottom: 5em;
    margin: 0 2rem;
}

#last-section h3{
    font-weight: 600;
    font-size: 2.5em;
    margin: 0;
}

.quiz-caption h4 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

/* end of landing page */

/* generic welcome page */


.welcome--card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: #fff;
    border-radius: 5px;
    color: #000;
    overflow: hidden;
    box-shadow: 2px 2px 18px #000000;
}

.info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 800;
}


.welcome--card .info-list {
    padding: 15px 35px;
}

.welcome--card .info-list .info {
    margin: 5px 0; 
    font-size: 17px;
}

.welcome--card .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.btn--blue {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 40px;
    width: 100px;
    color: #000;
    text-decoration: none;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quit:hover {
    color: #fff;
    background: #000;
}


.buttons button.btn--blue:hover {
    background: #2a2a2a;
}
/* Question card styles */

.quiz-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: #fff;
    border-radius: 5px;
    color: #000;
    overflow: hidden;
    box-shadow: 2px 2px 18px #000000;
}

.top-wrapper {
    height: auto;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    font-weight: 800;
    padding: 0 15px 15px 15px;
}

.question-count {
    text-align: left;
}

.question-count p{
    font-size: 10px;
}

.q-wrapper {
    float: left;
}


.answers {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-wrapped {
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    border-top: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
}

.score-area {
    display: flex;
    width: 60%;
    align-items: center;
}

.scores {
    display: inline-block;
    padding: 25px;
    font-size: 15px;
}

.correct {
    color: #00a30d;
}

.incorrect {
    color: #c7000f;
}

.btns-wrapped {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.score-wrapper {
    display: flex;
    align-items: center;
}

#score {
    padding-left: 10px;
}

#progressBar {
    width: 50%;
    height: 2rem;
    border: 0.2rem solid #ff9d00;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #ff9d00;
    width: 0%;
}

.progress-text {
    font-size: 15px;
    text-align: right;
}

/* congratulations Card */
#congrats-section {
    position: relative;
    top: 10rem;
}


/* button styles */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    cursor: pointer;
}

.next-btn {
    background-color: #000;
    border: 1px transparent;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
}

.next-button:hover {
    background: #2a2a2a;
}

.btn:focus {
    outline: none;
}

.btn--gray {
    margin: 25px;
    background-color: #000;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

.answer--btn {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    background: #cccccc;
    border-radius: 5px;
    cursor: pointer;
}
 
.answer--p {
    padding: 10px;
    width: 100%;
    margin: 0;
    font-size: 15px;
}

.answer--btn.correct {
    background: #00a30d;
}

.answer--btn.wrong {
    background: #c60606;
    color: #fff;
}



/* Media Queries */

@media (max-width: 1000px) {
    /* header */
    #head-bg img {
        width: 13%;
    }
    /* home page */
    p {
        font-size: 15px;
    }

    .lm-btn {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    /* header */
    #menu {
        line-height: 25px;
    }
    /* home screen */
    .lm-text-wrapper {
        width: 35%;
    }

    /* quiz card hover features */
    .quiz-caption h4 {
        font-size: 20px;
    }

    .quiz-caption h3 {
        font-size: 20px;
    }

}

@media (max-width: 700px) {
    /* home page */
    p {
        font-size: 15px;
    }

    .lm-btn {
        font-size: 15px;
    }

    /* welcome page */

    .welcome-card {
        margin: 1.5em 2.5em 0 2.5em;
        padding: 3em 2em;
    }

    #welcome-section {
        top: 9rem;
    }

    /* quiz page */
    #quiz-section {
        top: 9rem;
    }

    .quiz-card {
        margin: 1.5em 5em;
    }

    .answer--btn {
        font-size: 10px;
    }

    .scores {
        padding: 25px 15px 10px 15px;
    }

    .welcome-card h1 {
        font-size: 2em;
    }

}

@media (max-width: 600px) {
    /* header */
    #menu {
        font-size: 100%;
        line-height: 8px;
    }

    /* homepage */
    .card-wrapper {
        column-count: 2;
        display: block;
    }

    .left-card {
        margin-right: 0;
    }

    #first-section h1 {
        font-size: 2em;
    }

    #about-section h2 {
        font-size: 2em;
    }

    #last-section h3 {
        font-size: 2em;
    }

    .lm-is-wrapped {
        flex-direction: column;
    }

    .lm-img-wrapper {
        width: 100%;
        margin-right: 0;
    }

    .lm-text-wrapper {
        width: 100%;
        margin-right: 0;
    }

    #first-section {
        top: 8rem;
    }

    #about-section {
        top: 8rem;
    }

    #last-section {
        top: 8rem;
    }

    /* quiz page */
    #quiz-section {
        top: 7rem;
    }

    .q-wrapper {
        width: 70%;
    }

    .answer--btn {    
        width: 150px;  
        height: 60px;
    }

    .btn {
        width: 100px;
        height: 40px;
    }


}

@media (max-width: 500px) {
    /* header */
    #head-bg img {
        width: 17%;
    }

    /* homepage */
    #first-section {
        padding-bottom: 2.5em;
    }

    #about-section {
        padding-bottom: 2.5em;
    }

    #last-section {
        padding-bottom: 2.5em;
    }

    /* welcome */
    .welcome-card h1 {
        font-size: 1.5em;
    }

    .btn {
        font-size: 10px;
    }

    /* question page */
    .quiz-card {
        margin: 1.5em 1.5em;
        padding: 1.5em 1.5em;
    }
}

@media (max-width: 425px) {
    /* quiz section */
    .question-count {
        width: 100%;
    }

    .q-wrapper {
        width: 100%;
    }

    .bottom-wrapped {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }

    .score-area {
        width: 100%;
    }

    .answer--btn {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .scores {
        font-size: 15px;
        text-align: center;
    }

    .answers {
        margin-top: 7rem;
        width: 100%;
    }

}

@media (max-width: 400px) {
    /* header */
    #head-bg img {
        width: 20%;
    }

    /* homepage */
    #first-section h1 {
        font-size: 1.5em;
    }
    #about-section h2 {
        font-size: 1.5em;
    }
    #last-section h3 {
        font-size: 1.5em;
    }

    hr {
        border-top: 2px solid #000000;
    }

    .card-wrapper {
        column-count: 1;
    }
    /* btn */
    .btn--gray {
        margin: 15px;
    }

}

@media (max-width: 300px) {
    /* header */
    #menu {
        font-size: 60%;
        line-height: 0;
    }

    /* welcome */
    #welcome-section {
        top: 6rem;
    }

    .welcome-card {
        margin: 1.5em 1.5em 0 1.5em;
    }

    .welcome-card h1 {
        font-size: 1em;
    }


    /* congrats */
    #congrats-section {
        position: relative;
        top: 5rem;
    }
}